#website {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

h1 {
  font-family: "Bree Serif", sans-serif;
  font-size: 70px;
  margin: 20px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Bree Serif", sans-serif;
  font-size: 40px;
  margin: 30px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 30px;
  margin-top: 15px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

#welcome h3 {
  font-weight: bold;
}

.hor-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.nav-double-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
}

.thirds-col {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 30px;
  margin-top: 0px;
}

.shop {
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #4a5759;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

#welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #4a5759;
}

#opening-time {
  font-weight: normal;
}

.overlay-green {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 87, 89, 0.4); /* 4A5759 with 40% opacity */
}

.overlay-text-center {
  text-align: center;
  position: absolute;
  z-index: 1;
  color: white;
}

.overlay-text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: white;
  margin: 10px;
}

.text-half {
  display: flex;
  flex-direction: column;
}

#nav-bar {
  background-color: #dedbd2;
  color: #4a5759;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#getting-here,
#whats-on {
  background-color: #4a5759;
  color: white;
}

#shops {
  background-color: #dee7df;
  color: #4a5759;
}

#instagram {
  color: #4a5759;
}

#overview {
  color: #4a5759;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  color: #4a5759;
  border: none;
  font-size: 20px;
  width: 150px;
  height: 50px;
  padding: 0px;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px darkgray;
}

button:hover {
  background-color: #dee7df;
}

input {
  background-color: white;
  color: #4a5759;
  border: none;
  font-size: 20px;
  width: 80%;
  padding-left: 10px;
  height: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px darkgray inset;
}

.half-width-image {
  width: 50%;
  padding: 15px;
}

.half-width {
  width: 50%;
}

.hover-underline {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}
.hover-underline:hover {
  text-decoration: underline;
}

#footer {
  background-color: #dedbd2;
  color: #4a5759;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer img {
  height: auto;
  width: auto;
  max-height: 6vh;
  margin: 10px;
}

#social-logos-container {
  width: 50%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

#sponsor-logos-container {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

#overview-body {
  text-align: center;
}

#nav-bar h4 {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  text-align: center;
}

#nav-bar #home-text {
  margin-bottom: 0px;
  font-weight: medium;
}

#nav-bar h5 {
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}

#main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 72%;
}

#menu-icon {
  display: none;
}

/* Tablet adjustments*/
@media only screen and (max-width: 800px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-menu {
    width: 100%;
  }

  .nav-double-col {
    width: 100%;
  }

  #welcome {
    margin-top: 75px;
  }

  h1 {
    font-size: 50px;
    margin: 20px;
  }

  h2 {
    font-size: 30px;
    margin: 20px;
    margin-bottom: 0px;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 15px;
    margin: 20px;
    margin-top: 10px;
  }

  #nav-bar h5 {
    font-size: 12px;
    margin-bottom: 0px;
  }

  button {
    font-size: 15px;
    width: 112px;
    height: 37px;
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .thirds-col {
    margin: 20px;
    margin-top: 0px;
  }

  input {
    font-size: 15px;
    height: 37px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  #footer img {
    max-height: 4vh;
    margin: 7px;
  }
}

/* Mobile adjustments */
@media only screen and (max-width: 550px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-menu {
    display: none;
  }

  .nav-double-col {
    width: 100%;
  }

  #getting-here {
    flex-direction: column-reverse;
  }

  #welcome {
    margin-top: 47px;
  }

  .hor-section {
    display: flex;
    flex-direction: column;
  }

  .half-width {
    width: 100%;
  }

  .half-width-image {
    width: 96%;
    padding: 2%;
  }

  .thirds-col {
    width: 90%;
    margin: 5%;
  }

  #footer {
    display: flex;
    flex-direction: row;
  }

  #footer img {
    max-height: 4vh;
  }

  .thirds-col {
    margin-top: 0px;
  }

  #whats-on h2,
  #getting-here h2 {
    margin-top: 0px;
  }

  h1 {
    font-size: 35px;
    margin: 5px;
  }

  #nav-bar h5 {
    margin-bottom: 10px;
  }

  #menu-icon {
    display: block;
    width: 7%;
    margin: 7px;
    margin-left: 10px;
    position: absolute;
  }

  #nav-bar {
    display: flex;
    flex-direction: row;
  }

  .nav-double-col {
    width: 100%;
  }

  #opening-time {
    margin: 5px;
  }
}
